<form class="formclass" [formGroup]="form">
  <h1 mat-dialog-title>Add Category</h1>
  <table class="table">
    <tr>
      <td class="left"><h4>Name</h4></td>
      <td class="right">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Store A"
            formControlName="name"
          />
        </mat-form-field>
      </td>
    </tr>
  </table>
  <div mat-dialog-content class="action">
    <button type="button" mat-button (click)="onNoClick()">Cancel</button>
    <button
      (click)="complete()"
      mat-button
      [disabled]="form.invalid"
      cdkFocusInitial
    >
      Submit
    </button>
  </div>
</form>
